@charset "utf-8";
  
  *{box-sizing: border-box;}

  .fila::after{
    content:"";
    clear: both;
    display: table;
  }



  [class*="col-l"]{
    float: left;
    padding: 15px;
    width: 100%
  }

  .container{
    width: 80%;
    margin:0 auto;
  }

  @media only screen and (max-width:650px){
    body{
       background-color: lightblue; 
       color: white;
       font-size: 20px;
      }
      .col-l-1{width: 8.33%;}
      .col-l-2{width: 16.66%;}
      .col-l-3{width: 25%;}
      .col-l-4{width: 100%;}
      .col-l-5{width: 41.66%;}
      .col-l-6{width: 50%;}
      .col-l-7{width: 58.33%;}
      .col-l-8{width: 66.66%;}
      .col-l-9{width: 75%;}
      .col-l-10{width: 83.33%;}
      .col-l-11{width: 91.66%;}
      .col-l-12{width: 100%;}
  }
    @media only screen and (min-width:651px ) and (max-width:1200px){
      body{
         background-color: pink; 
         color: black;
         font-size: 18px;
      }
      .col-l-4{width: 33.33%;}
      .col-l-12{width: 33.33%;}

  }
  @media only screen and (min-width:1201px ){
    body{
       background-color: purple; 
       color: white;
       font-size: 20px;
    }
    
    .col-l-4{width: 33.33%;}
    .col-l-12{width: 16.6%;}

}